* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --background: #56AE54;
  --color: #FFF469;
  --color2: #92587F;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background);
  color: var(--color);
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.9rem;
}

.background {
  position: fixed;
  width: 100vw;
  height: auto;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  bottom: 0px;
}

.graphic {
  position: relative;
  margin: auto;
  width: 50%;
}
.graphic img {
  display: block;
  margin: auto;
  width: 100%;
}

.contents {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
}

.title {
  position: relative;
  width: 100%;
  margin-right: 1rem;
}

.textContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-bottom: 2rem;
}

button {
  color: var(--color);
  font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  margin-right: 0.5rem;
  cursor: pointer;
}

button:hover {
  color: var(--color2);
}

button:active {
  color: var(--color2);
}

.organizations {
  width: 100%;
  display: none;
}

.media {
  width: 100%;
  display: none;
}

.entertainment {
  width: 100%;
  display: none;
}

.science {
  width: 100%;
  display: none;
}

.moving {
  position: fixed;
  width: 3200px;
  height: 800px;
  mix-blend-mode: exclusion;
  background: url(/asset/moving.svg) 0 center/2000px repeat-x;
  animation: movebg 12s linear infinite;
}

@keyframes movebg {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -2000px center;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 4rem;
    line-height: 3.8rem;
    font-weight: 400;
  }
  .contents {
    font-size: 1.6rem;
    line-height: 1.8rem;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  .buttonContainer {
    margin-bottom: 1rem;
  }
  button {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .title {
    height: 100%;
  }
  .textContainer {
    height: 100%;
    bottom: 0px;
  }
  .graphic {
    width: 80%;
  }
}